#gameContainer{
    display:grid;
    grid-template-columns: repeat(3,auto);
    width: 240px;
    margin: auto;
    visibility: hidden;
}
.cell{
    width: 80px;
    height: 80px;
    border: 1px solid black;
}
#TwoPlayerButton{
    width: auto;
    height: auto;
}
.game_hatter{
    background-image: url(images/game_img.jpg);
    background-repeat: no-repeat;
     background-size: cover;
  }
.felirat
{
 color: white;
}
